@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ComicSwap</h1>
    <p class="lead">ComicSwap is a free web service for buying and selling your favorite comic books.</p>
    <p><a href="http://comicswapv2.azurewebsites.net/Comics" class="btn btn-primary btn-lg">View Current Listings &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>New Users</h2>
        <p>
            Create a new user account to begin listing your own comics for sale!
        </p>
        <p><a class="btn btn-default" href="http://comicswapv2.azurewebsites.net/Owners/Create">Create Account &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Already have an account?</h2>
        <p>List the old comics that you'd like to sell and buy new issues of your favorite titles!</p>
        <p><a class="btn btn-default" href="http://comicswapv2.azurewebsites.net/Comics/Create">List Issue &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Looking for a someone?</h2>
        <p>Check out the user database to find out who is selling what and how to best get in contact!</p>
        <p><a class="btn btn-default" href="http://comicswapv2.azurewebsites.net/Owners">View Users &raquo;</a></p>
    </div>
</div>